<div>
    <ul>
      <li *ngFor="let event of events">
        <p>{{event.name}}</p>
      </li>
  </ul>
  </div>

<div>
    <form #newEventForm="ngForm" (ngSubmit)="addEvent(newEventForm)">
      <p> <label for="date">Date of Event:</label> <input name="date" id="date" ngModel /></p>
      <p> <label for="name">Event Name:</label> <input name="name" id="name" ngModel /> </p>
      <p> <label for="description">Description:</label> <input name="description" id="description" ngModel /></p>
      <p> <label for="price">Price per ticket:</label> <input name="price" id="price" ngModel /></p>
      <p> <label for="location">Location:</label> <input name="location" id="location" ngModel /></p>
      <p><button>Add New Event</button></p>
      </form>
  </div>